
.wrapper {
    max-width: 1600px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto; 
}

.section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

h3,
p {
    margin-top: 0;
}

img {
    display: block;
}

/* Шапка */

.header-section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo-header {
    margin-right: 85px;
    padding: 24px 0px 25px 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.word-blue {
    color: #2196F3;;
}

.word-black {
    color: #000000;
}

.navigation-address {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-menu {
    display: flex;
    margin-right: auto;
    justify-content: center;
    position: relative;
}


.nav-menu-item {
    position: relative;
}

.nav-menu-item:not(:last-child) {
    margin-right: 50px;
}

.nav-menu-link {
    padding: 32px 0px 32px 0px;    
}

.nav-menu-link:hover::after {
    position: absolute;
    display: block;
    background: #2196F3;    
    width: 100%;
    height: 4px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    margin-top: 28px;
}

.address-header {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.header-mail {
    margin-right: 30px;
    padding: 32px 0px 32px 0px;    
}

.header-tel {
    padding: 32px 0px 32px 0px;    
}

.img-icon:hover {
    fill: #2196F3;
}

.img-icon:not(:last-child) {
    margin-right: 10px;
}

.nav-menu-link,
.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #2196F3;
}

.link {
    text-decoration: none;
}

.header-mail,
.header-tel {
    color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color:#2196F3;
}

/* Главная  */

/* HERO секция */

.hero-section {
    max-width: 1600px;
    padding: 200px 0px 200px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    block-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
        ),
    url("./img/1hero/Headerimg.jpg");
}

.main-header {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    }

.modal-button {
    padding: 10px 32px 10px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Секции */

/* Cекция "Особенности" */

.section-features {
    justify-content: center;
    background-color: #ECECEC;
    padding: 94px 0px 47px 0px;
}

.items-features {
    max-width: 270px;
    margin-right: 30px;
}

.items-features:last-child {
    margin-right: 0px;
}

.features-list-img {
    margin-bottom: 30px;
}

.features-img-background {
    margin-bottom: 30px;
    background-color: #F5F4FA;
    position: relative;
    width: 270px;
    height: 120px;
}

.features-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}

.features-list-headers {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.features-description {
    margin-bottom: 0;
}

/* Секция "Чем мы занимаемся" */

.section-work {
    background-color: #ECECEC;
    padding: 47px 0px 94px 0px;
}

.items-work:not(:last-child) {
    margin-right: 30px;
}


/* Секция "Наша команда" */

.section-our-team {
    padding: 94px 0px;
    background-color: rgba(245, 244, 250, 1);
}

.items-our{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.items-our:not(:last-child) {
    margin-right: 30px;
}

.img-team-member {
    margin-bottom: 30px;
}

.team-member {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}

.occupation-description {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Постоянные клиенты */

.sections-customers {
    padding: 94px 0px;
}

.items-customer:not(:last-child) {
    margin-right: 30px;    
}


/* Для шрифтов в "Особености" и footer mail и tel */
.features-description,
.footer-mail,
.footer-tel {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Для шрифтов h2 */

.chapter {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Для текста в "Чем мы занимаемся" */
.work-description {
    margin: 0;
    padding: 27px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}

/* Подвал */

.footer {

    padding: 60px 0px;
    background-color: #2F303A;
}

.footer-section {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.address-footer {
    display: block;
    margin-right: 69px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.footer-map,
.footer-mail {
    display: block;
    margin-bottom: 9px;
}

.footer-map {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.word-white {
    color: #FFFFFF;
}

.join-in {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social-networks {
    display: flex;
    margin-right: 94px;
}

.footer-social-networks:not(:last-child) {
    margin-right: 10px;
}

/* временный блок, заготовка*/
.subscribe {
    display: flex;
}

.subscribe-text {
    display: block;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.inputtext {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    background-color: #2F303A;;
}

.modal-button-footer {
    display: inline-flex;
    width: 200px;
    padding: 13px 13px 13px 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.marginrigth {
    margin-right: 10px;
}

/* Портфолио */

/* Кнопки фильтра портфолио */

.filter {
    margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.filter-list-button {
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
}

.filter-list-button:hover,
.filter-list-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.portfolio-container {
    margin: auto;
}

.main-portfolio {
    background-color: #ECECEC;
    padding: 93px 0px 94px 0px;
}

.main-section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-list-portfolio {
    flex-wrap: wrap;
}

.list-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.list-item:nth-child(3n) {
    margin-right: 0;
}

.main-list-item {
    padding-left: 24px;
}

.main-list-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;
}

.main-list-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}

.item-img {
    margin-bottom: 20px;
}
